.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 21%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 42%
    right: 17%
  &-3
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 25%
    width: 90px
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 66%
    right: 61%
  &-5
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 42%
    right: 76%
  &-6
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 12%
    right: 66%
    width: 90px
  &-7
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 76%
    right: 43%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)
.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo_interno.svg") !important
  background-repeat: no-repeat
  background-color: $color-acento-contenido !important
.banner-principal__componente
  em
    color: white
  h1
    color: $color-acento-botones
.banner-principal__info
  width: 600px
  background-image: url("../assets/curso/portada/banner-principal-decorativo.svg")
  align-self: stretch
  background-repeat: no-repeat
  background-position: 15% 0, 17% 76%
  background-size: 50%, 25%
  animation: Flitp1 6s ease infinite
  margin-top: 30px
  @media screen and (max-width: $bp-max-lg)
    width: 560px
  @media screen and (max-width: $bp-max-md)
    width: 100%
  @media screen and (max-width: $bp-max-xs)
    background-image: none
    padding-top: 2rem !important 
   
@keyframes Flitp1
  0%
    background-image: url("../assets/curso/portada/banner-principal-decorativo.svg")
  50%
    background-image: url("../assets/curso/portada/banner-principal-decorativo.svg")
    background-position: 36% 0, 25% 80%
  100%
    background-image: url("../assets/curso/portada/banner-principal-decorativo.svg")
.banner-interno__titulo
  h2
    color: $color-sistema-texto !important
// TAMAÑO IMAGENES //
.img18
   max-width: 18px !important
.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img60
  max-width: 60px !important
.img70
   max-width: 70px !important
.img80
   max-width: 80px !important
.img90
  max-width: 90px !important
.img100
  max-width: 100px !important
.img120
  max-width: 120px !important
.img140
  max-width: 140px !important
.img160
  max-width: 160px !important
.img180
  max-width: 180px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img420
  max-width: 420px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//COLOR CONTENIDOS Y TEXTO//
.colr
  color: $color-acento-botones
  &_1
    color: #777777
  &_2
    color: $color-acento-contenido 
  &_3
    i
      color: $color-secundario
  &_4
    color: $color-secundario
 
  
//FONDOS//
.bgr
  background-color: white
  &_1
    background-color: #3C3FA7
  &_2
    background-color: #8284D2
  &_3
    background-color: #FFDFE0
    &:hover
      background-color: #3C3FA7
      h3
        color: #FED947
      span, p
        color: white
  &_4
    background-color: #ACADE1
  &_5
    background-color: #E1E8FF
    border-radius: 999px
  &_6
    background-color: #FFF0F1
    border: 2px solid #FC5F65
    border-radius: 20px
  &_7
    background-color: #F0F4FF
    border: 2px solid #3C3FA7
    border-radius: 20px
  &_8
    background-color: #DDDEFE
    border: 2px solid #3C3FA7
    border-radius: 20px
  &_9
    background-color: white
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
  &_10
    background-color: white
    border: 2px solid #3C3FA7
    border-radius: 20px
  &_11
    background-image: url("../assets/curso/tema2/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
    border-radius: 40px
  &_12
    background-color: #D5D6F0
  &_13
    .traduccionAudio__chat__item__message__bubble
      background-color: white !important
      border-radius: 20px
      border: 2px solid #3C3FA7
      padding: 0.5rem !important
    .textAudio__ing
      color: $color-acento-contenido
  &_14
    background-color: #FFF7DA
//FONDOS COMPLETOS DE CONTENIDO//
.bg_grad-01
  position: relative
  .row, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0
    left: 0
    width: calc(100% + 6rem)
    height: calc(100% + 2rem)
    background-color: #F0F4FF
    @media ( max-width: $bp-max-lg )
      top: -8%    
      height: calc(100% + 4rem)
    @media ( max-width: $bp-max-md )
      top: -4%
.bg_grad-02
  position: relative
  .col, h3, p, figure
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 
    top: 12%
    left: 3%
    width: 85%
    height: 76%
    background-color: white
    border-radius: 20px
    @media ( max-width: $bp-max-lg )
      top: 7%
      height: 84%
    @media ( max-width: $bp-max-md )
      top: 4%
      width: 94%
.bg_grad-03
  position: relative
  .row, .slyder-f 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 26%
    left: 0
    width: calc(100% + 6rem)
    height: 80%
    background-color: #A6BBFF
    @media ( max-width: $bp-max-lg )
      top: 14%
      height: 90%
.bg_grad-04
  position: relative
  .row, .slyder-f 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 26%
    left: 0
    width: calc(100% + 6rem)
    height: 68%
    background-color: #DDDEFF
.bg_grad-05
  position: relative
  .row, .bgr
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0  
    top: -15px
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-06
  position: relative
  .dialogoTraduccionChat
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 
    top: -4%
    left: 12px
    width: 617px
    height: 96%
    background-color: white
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    @media ( max-width: $bp-max-lg )
      width: 429px
    @media ( max-width: $bp-max-md )
      width: 571px
      left: 25px
    @media ( max-width: $bp-max-xs )
      width: 328px
.bg_grad-07
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem  
    top: 10%
    left: 0
    width: calc(100% + 6rem)
    height: 79%
    background-image: url("../assets/curso/tema1/fondo2.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-08
  position: relative
  .dialogoTraduccionChat
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 
    top: -4%
    left: 33%
    width: 69%
    height: calc(100% + 2rem)
    background-color: #A6BBFF
    border-radius: 20px
    @media ( max-width: $bp-max-md )
      left: -4%
      width: calc(100% + 3rem)
      top: 27%
      height: 77%
    @media ( max-width: $bp-max-xs )
      height: 75%
      width: calc(100% + 2rem)
.bg_grad-09
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem  
    top: -9%
    left: 0
    width: calc(100% + 6rem)
    height: calc(100% + 5rem)
    background-image: url("../assets/curso/tema3/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
    @media ( max-width: $bp-max-md )
      top: -4%
    @media ( max-width: $bp-max-xs )
      height: calc(100% + 3rem)
.bg_grad-10
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem  
    top: -5%
    left: 0
    width: calc(100% + 6rem)
    height: calc(100% + 5rem)
    background-image: url("../assets/curso/tema4/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-11
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem  
    top: 5%
    left: 0
    width: calc(100% + 6rem)
    height: 63%
    background-image: url("../assets/curso/tema4/fondo2.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-12
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0   
    top: -5%
    left: 0
    width: 100%
    height: calc(100% + 3rem)
    background-image: url("../assets/curso/tema4/fondo3.png")
    background-repeat: no-repeat
    background-size: cover
    border-radius: 20px
    @media ( max-width: $bp-max-xs )
      top: -3%
.bg_grad-13
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 
    top: 50%
    left: 10%
    width: 88%
    height: 44%
    background-color: #A6BBFF
    border-radius: 20px
    @media ( max-width: $bp-max-md )
      top: 32%
      left: 6%
      height: 67%
.bg_grad-14
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 
    top: 50%
    left: 2%
    width: 88%
    height: 44%
    background-color: #A6BBFF
    border-radius: 20px
    @media ( max-width: $bp-max-md )
      top: 32%
      left: 6%
      height: 67%
.bg_grad-15
  position: relative
  .row, p, .bgr_11 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 23%
    left: 0
    width: calc(100% + 6rem)
    height: 77%
    background-color: #C4D1FF
.bg_grad-16
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem   
    top: 9%
    left: 0
    width: calc(100% + 6rem)
    height: 97%
    background-image: url("../assets/curso/tema2/fondo2.svg")
    background-repeat: no-repeat
    background-size: cover
.bg_grad-17
  position: relative
  .row, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem  
    top: 35%
    left: 0
    width: calc(100% + 6rem)
    height: 68%
    background-image: url("../assets/curso/tema2/fondo3.svg")
    background-repeat: no-repeat
    background-size: cover
    
//POSICION EN PANTALLA//
.pst
  position: absolute
  bottom: -28%
  left: 0%
  width: 83px
  @media ( max-width: $bp-max-lg )
    bottom: -15%
    left: -8%
  @media ( max-width: $bp-max-md )
    bottom: -20%
    left: -3%
  @media ( max-width: $bp-max-xs )
    bottom: -12%
    left: -1%
  
  &_1
    background-repeat: no-repeat
    background-size: cover
  &_2
    position: absolute
    top: -16%
    right: 0
    width: 85px
  &_3
    .traduccion__chat__item__message__translate-btn
        display: none
  &_4
    position: absolute
    top: 10%
    left: 0
    width: 85px
  &_5
    position: absolute
    bottom: -4%
    right: -4%
    width: 85px
    @media ( max-width: $bp-max-xs )
      bottom: 0
      
//MARGIN//
.mgb
  margin-bottom: 70px
//CLASES REEMPLAZADAS//
.traduccionAudio__chat__item__message__bubble
  background-color: #F0F4FF !important
  padding: 2em !important
.tarjeta-audio.color-secundario 
  background-color: white
.slyder-f__main
  width: 79%
.traduccionAudio__chat__item__message__text__eng.textAudio__ing
  span
    font-weight: 400 !important
.textAudio__esp 
  color: #777777 !important
.tarjeta-avatar .tarjeta
  padding-top: 0 !important
  height: auto
.horizontal-scroll
  align-items: stretch !important
.slyder__btn
  background-color:   #FFF0B5
  &:hover
    background-color: #FED947
.dialogoTraduccionChat 
  border: none !important
.dialogoTraduccionChat__chat__item__person
  span
    color: #3C3FA7
.dialogoTraduccionChat__chat__item__message__bubble
  background-color: #8284D2 !important
  &::before
    background-color: #8284D2 !important
.acordion__accion__btn--b
  background-color: #FED947
  border: 1px solid #FED947
.tabla-a 
  thead
    border-top: none
    background-color: #4A4CB4
.slyder-a__tipo-b .slyder-a__btn--sigt, .slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__bullets__item--active, 
  background-color: #FED947 !important
  border-color: #FED947 !important
.slyder-a__bullets__item
  background-color: #FFF0B5
  border-color: #FFF0B5


